In [7]:
# varible entera
x = 2
# string, lista de caracteres
x = 'lorena'
print (x)

x = 7

print(x)

lorena
7

In [8]:
x = 5
y = 7
z = x + y
print(z)

12

In [2]:
x = 'lorena '
l = "silvia"


# concatenacion de caracteres
g = x + l
print (g)
type(l)

lorena silvia

str

In [15]:
print(g)

lorena silvia

In [16]:
# type muestra tipo de variable
type(g)

str

In [18]:
type(3)

int

In [21]:
print(g, z, 6, "cadena")

lorena silvia 12 6 cadena

In [27]:
u = "g"
silvia = "silvia tiene "

anos = " años"

suma = silvia + u + anos

print(suma)

silvia tiene g años

In [28]:
n = 2
m = "3"

In [35]:
# cambiar de int a str

j = 2
print(j)
print(type(j))
j = silvia + str(j)
print(j)
print(type(j))

2
<class 'int'>
silvia tiene 2
<class 'str'>

In [40]:
# cambiar de str a int

lor = "98"
lor = int(lor)

print(lor)
print(type(lor))

98
<class 'int'>

In [47]:
# ver longitud de una lista de caracteres

mn = "lista de caracteres de ejemplo"
#lenght
print(len(k))
print(len(mn))

1
30

In [51]:
h = len(mn)

print(h + 7)

37

In [53]:
x = (2 + 4) + 7
print(x)

13

In [ ]:
num1 = 12
num2 = 3
suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2
division_absoluta = sum1 // num2

print()

In [55]:
# los decimales se demoniman 'float'

x = 4
y = 4.2

print(x + y)

8.2

In [63]:
j = 12.5
k = 4


print(j // k)
print(type(j // k))

3.0
<class 'float'>

In [68]:
x = 2
j = 6
g = 4
h = "popeye"

3

In [ ]:
# este es un tipo de comentario
"""
esto es otro tipo de comentario mas extenso
"""

In [69]:
edad = 31
edad_companero_der = 22
suma_anterior = edad + edad_companero_der
suma_anterior

53

In [70]:
h = 89 + suma_anterior
h

142

In [73]:
i = "hola"
o = i.upper()

'HOLA'

In [75]:
o.lower()

'hola'

In [76]:
x = 2
x = x + 1
x

3

In [85]:
x = 1

x

1