In [4]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
too_expensive = 'subaru'
cars.remove(too_expensive)
print(cars)

cars.append('audi')
print(cars)

['bmw', 'audi', 'toyota']
['bmw', 'audi', 'toyota', 'audi']

In [6]:
lista = cars = ['bmw', 'audi', 'toyota', 'subaru', 2, 6, [5, 8]]
lista[1][3]

'i'

# Boolean

In [9]:
True
False

1 == 1
x = (1 == 1)

True

In [11]:
"a" != "b"

True

In [12]:
2 > 4

False

In [13]:
4 >= 4

True

In [14]:
"""
== igualdad
!= diferencia
< 
>
>=
<=
"""

'\n== igualdad\n!= diferencia\n< \n>\n>=\n<=\n'

In [15]:
(1 == 1) and (2 == 3)

False

In [16]:
True and False

False

In [17]:
(1 == 1) or (1 == 2)

True

In [19]:
(1 == 1) and (1 == 2) and (1 == 1)

False

In [21]:
(1 == 1) and (1 == 2) and ((1 == 1) or (0 == 0))

False

In [22]:
if 1 != 1:
    print("Son iguales")

else:
    print("No entra en if")

No entra en if

In [23]:
if 1 == 1:
    print("Son iguales")

else:
    print("No entra en if")

Son iguales

In [24]:
if 1 > 3:
    print("Es mayor")
elif 2 == 2:
    print("Es igual")
else:
    print("Ninguna de las anteriores")

Es igual

In [62]:
input("valor")
x = input("Valor")


if 1==1:
    if 2==2:
        if 4==4:
            if 6==6:
                if 7==7:
                    if x < 15:
                        print("hola")
                    else:
                        print("adios")

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
if not(1 == 1):
    print("Hola")

In [69]:
if 0:
    print(2)

In [85]:
# Sinonimos de Flase
# None, False, 0, Todo lo que esté vacío o cualquier colección vacía

In [81]:
if not ([] or False or 0 or None):
    print(True)
else:
    print(False)

True

In [83]:
x = True
y = False

x + y

1

In [84]:
x = True
y = False

str(x) + str(y)

'TrueFalse'

In [89]:
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

j

'j'

In [100]:
# Tuplas
tupla = (2, 5, "caract", [9, "g", ["j"]])
print(type(tupla))
print(type(lista))

<class 'tuple'>
<class 'list'>

In [101]:
tupla[3].remove(9)

In [102]:
tupla2 = (2, 5, "caract", [9, "g", ["j"]])
tupla2[-1].remove(["j"])
tupla2

(2, 5, 'caract', [9, 'g'])

In [105]:
conjunto = (2, 4, 6, "a", "z", "h")
conjunto =set(conjunto)
conjunto

{2, 4, 6, 'a', 'h', 'z'}

False