# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [197]:
file1 = "Primera Fila", ["Maria", "Angeles", "Juan"]
file2 = "Segunda Fila", ["Marta", "Daniel", "Leo", "Miguel1", "Estela"]
file3 = "Tercera Fila", ["Kapil", "Roberto", "Alfonso", "Miguel2"]
fileR = "Remoto", ["Mar", "Alex", "Anais", "Antonio", "Ariadna", "Javi", "JaviOlcoz"]
print(file1)
print(file2)
print(file3)
print(fileR)
studentList = "Listado completo", file1[1][0:], file2[1][0:], file3[1][0:], fileR[1][0:]

print(studentList)

('Primera Fila', ['Maria', 'Angeles', 'Juan'])
('Segunda Fila', ['Marta', 'Daniel', 'Leo', 'Miguel1', 'Estela'])
('Tercera Fila', ['Kapil', 'Roberto', 'Alfonso', 'Miguel2'])
('Remoto', ['Mar', 'Alex', 'Anais', 'Antonio', 'Ariadna', 'Javi', 'JaviOlcoz'])
('Listado completo', ['Maria', 'Angeles', 'Juan'], ['Marta', 'Daniel', 'Leo', 'Miguel1', 'Estela'], ['Kapil', 'Roberto', 'Alfonso', 'Miguel2'], ['Mar', 'Alex', 'Anais', 'Antonio', 'Ariadna', 'Javi', 'JaviOlcoz'])

### Exercise 2

1. Create an empty list, call it **empty_list**

In [198]:
empty_list = []
empty_list

[]

2. Create a list with 5 items, call it **my_list**

In [199]:
my_list = ["item0", "item1", "item2", "item3", "item4"]

3. Find the length of **my_list**

In [200]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [201]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])

item0
item2
item4

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [202]:
name = "Roberto"
age = 31
height = 181
country = "Spain"
python_version = 3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [203]:
mixed_data_types = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [10]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies[1][3]

SyntaxError: invalid syntax (<ipython-input-10-13462b497975>, line 2)


8. Print **it_companies** using print()

In [205]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [206]:
print(len(it_companies))

7

11. Print *Google*

In [207]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [208]:
print(it_companies[0], it_companies[3], it_companies[-1])

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [209]:
it_companies[-1]

it_companies.append("TheBridge")

12. Print the list after modifying one of the companies

In [210]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'TheBridge']

Lo he intentado por varios medios queriendo usar la funcion .replace pero no ha habido manera. Me acepta la sint√°xis de la formula de varias maneras, pero no me plaica el cambio a la hora de hacerle el print.

## Bonus track.

13. Add an IT company to **it_companies**

In [211]:
it_companies.append("BarManolo")

14. Check if *Apple* exists in the **it_companies** list.

In [212]:
it_companies

['Facebook',
 'Google',
 'Microsoft',
 'Apple',
 'IBM',
 'Oracle',
 'Amazon',
 'TheBridge',
 'BarManolo']

15. Sort the list using `sort()` method

In [213]:
it_companies.sort()

16. Reverse the list in descending order using `reverse()` method

In [214]:
it_companies.reverse()

17. Slice out the first 3 companies from the list

In [215]:
print(it_companies)

['TheBridge', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'BarManolo', 'Apple', 'Amazon']

18. Remove the last IT company from the list

In [216]:
it_companies.remove("Oracle")

19. Remove all IT companies from the list

In [217]:
it_companies.remove("Microsoft")
it_companies.remove("IBM")
it_companies.remove("Google")
it_companies.remove("Facebook")

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [218]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [219]:
print(front_end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [220]:
print(front_end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [221]:
tup = "T",

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [222]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [223]:
tup = list(tup)
type(tup)
tup.append("H")
tup.append("E")
tup.append(" ")
tup.append("B")
tup.append("R")
tup.append("I")
tup.append("D")
tup.append("G")
tup.append("E")
tup = tuple(tup)
print(type(tup))
tup

<class 'tuple'>

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
# Puedo hacerlo realizando el mismo proceso que anteriormente, conviertiendolo en una lista, modificandolo y reconventirlo en una tupla.

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [224]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [225]:
my_set = set(lista_repes)

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [226]:
print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [227]:
my_set = list(my_set)

In [228]:
print(my_set[0])

data