# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [58]:
dictionary = {5: "val"}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [59]:
citys = ["Madrid", "Barcelona", "Sevilla", "Bilbao"]
landmarks = ["Bernabeu", "Sagrada Familia", "Giralda", "Guggenheim"]

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [60]:
places = {citys[0]: landmarks[0], citys[1]: landmarks[1], citys[2]: landmarks[2], citys[3]: landmarks[3]}
places

{'Madrid': 'Bernabeu',
 'Barcelona': 'Sagrada Familia',
 'Sevilla': 'Giralda',
 'Bilbao': 'Guggenheim'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [61]:
for x in places:
    if x[0] == "M":
        print(x)

Madrid

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [62]:
def placesF(citys, landmarks):
    return list(places.keys()), list(places.values())

placesF(citys, landmarks)

(['Madrid', 'Barcelona', 'Sevilla', 'Bilbao'],
 ['Bernabeu', 'Sagrada Familia', 'Giralda', 'Guggenheim'])

### Exercise 2.

1. Create an empty dictionary called dog.

In [2]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [3]:

dog["name"] = "Patricio"
dog["color"] = "Red"
dog["breed"] = "Bulldog"
dog["legs"] = 4
dog["age"] = 10

dict

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [65]:
student = {}
student["First_Name"] = "Roberto"
student["Last_name"] = "Molleda"
student["Age"] = 31
student["skills"] = None
student["Country"] = "Spain"
student["city"] = "Madrid"

4. Get the length of the student dictionary.

In [66]:
print("Lenght of dictionary:", len(student))

Lenght of dictionary: 6

5. Get the value of skills and check the data type, it should be a list.

In [67]:
for x in student:
    if x == "skills":
        y = [x]

print(y)

['skills']

6. Modify the skills values by adding one or two skills.

In [70]:
student["skills"] = [None, "alguna", 5]

In [71]:
student

{'First_Name': 'Roberto',
 'Last_name': 'Molleda',
 'Age': 31,
 'skills': [None, 'alguna', 5],
 'Country': 'Spain',
 'city': 'Madrid'}

7. Get the dictionary keys as a list.

In [72]:
list(student.keys())

['First_Name', 'Last_name', 'Age', 'skills', 'Country', 'city']

8. Get the dictionary values as a list.

In [73]:
list(student.values())

['Roberto', 'Molleda', 31, [None, 'alguna', 5], 'Spain', 'Madrid']

9. Change the dictionary to a list of tuples using `items()` method

In [75]:
student.items()

dict_items([('First_Name', 'Roberto'), ('Last_name', 'Molleda'), ('Age', 31), ('skills', [None, 'alguna', 5]), ('Country', 'Spain'), ('city', 'Madrid')])

10. Delete one of the items in the dictionary.

In [86]:
student.pop("city")

KeyError: 'city'

In [87]:
print(student)

{'First_Name': 'Roberto', 'Last_name': 'Molleda', 'Age': 31, 'skills': [None, 'alguna', 5], 'Country': 'Spain'}

### Bonus Track

**TÃ³mate una cervecita o un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)