# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [1]:
print("Sentence1"); print("Sentence2")

Sentence1
Sentence2

2. Make a converter from dollars to euros. You'll have to use input.

In [10]:
dollars = input("Introduce dollars amount")
exchange = float(dollars) * 0.9048136084
print("%.2f" % exchange, "€", sep="")

886.72€

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [15]:
firstName = "Roberto"
lastName = "Molleda"
age = 31
print(f"Hi, my name is {firstName} {lastName} and i have {age} years old")

Hi, my name is Roberto Molleda and i have 31 years old

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [16]:
list1 = [4, 7, -3]
maximum = max(list1)
print(maximum)
minimum = min(list1)
print(minimum)

7
-3

5. Round `38.38276252728` to 5 decimal places.

In [18]:
x1 = 38.38276252728
print("%.2f" % x1)

38.38

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [52]:
prhase1 = "Born to be wild"

print(prhase1.upper())
print(prhase1.lower())
print(str.splitlines(prhase1))
prhase1 = prhase1.replace("wild", "geek")
print(prhase1)

BORN TO BE WILD
born to be wild
['Born to be wild']
Born to be geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [54]:
input1 = input("First one")
input2 = input("Second one")
if input1 == input2:
    print(True)
else:
    print(False)

False

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [12]:
peliculas_discount = ["The Lord of the Rings", "The Godfather", "2001: Space Oddisey", "Pulp Fiction"]
movie = input("Choose the film:")
age2 = int(input("Customer's age: "))
standarPrice = 7
kidsDiscount = 2
if age2 >= 5 and age2 <= 15:
    print("Ticket price:", standarPrice - kidsDiscount)
if age2 >= 65:
    if movie == (peliculas_discount[0] or peliculas_discount[1] or peliculas_discount[2] or peliculas_discount[3]):
        print("Ticket price: ", 4)
    else:
        print("Ticket price:", standarPrice)

else:
    print("Ticket price:", standarPrice)

Ticket price: 7

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

In [15]:
for x in range(70):
    if x%3 == 0 and x%5 == 0:
        print(x)

0
15
30
45
60

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [19]:
for num in range(10):
    for i in range(num):
        print(num, end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

3. Given to list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [22]:
list1 = [12, 26]
list2 = [4, 8]
zippeds = zip(list1, list2)
sum = [list1 + list2 for (list1, list2) in zippeds]
print(sum)

[16, 34]

4. Get first, second best scores from the list.
List contains duplicates.

In [7]:
score = [86,86,85,85,85,83,23,45,84,1,2,0]
score_order = sorted(set(score))
print("Best score is", score_order[-1], "and the second best is", score_order[-2])

Best score is 86 and the second best is 85

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [9]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

In [10]:
sorted(gadgets)

TypeError: '<' not supported between instances of 'int' and 'str'

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [12]:
def sumOne():
    a = 2
    b = 4
    return a + b

r = sumOne()
r

6

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [16]:
tuple1 = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")


def stack1(tuple1):
    tuple1 = list(tuple1)
    tuple1 = ("").join(tuple1)   
    return tuple1

y = stack1(tuple1)
y

'THE BRIDGE'

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

In [1]:
def squares():
    j = list()
    for x in range(1,30):
        j.append(x**2)
    return j[:1], j[-6:-1]

squaresf = squares()
squaresf

([1], [576, 625, 676, 729, 784])

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

In [5]:
# Cuando intento meter código para sacar el factorial me peta el kernel y no me guarda los cambios.

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)