# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [12]:
# 'My very first python code:'

2. Declare a **first name** variable and assign a value to it

In [4]:
first_name = "Roberto"

3. Declare a **last name** variable and assign a value to it

In [14]:
last_name = "Molleda"

4. Declare a **full name** variable and assign a value to it

In [15]:
full_name = "Roberto Molleda"

5. Declare a **country** variable and assign a value to it

In [16]:
country = "Spain"

6. Declare a **city** variable and assign a value to it

In [17]:
city = "Madrid"

7. Declare an **age** variable and assign a value to it

In [18]:
age = 31

8. Declare a **year** variable and assign a value to it

In [19]:
year = 1989

9. Declare a variable **is_married** and assign a value to it

In [20]:
is_married = "married"

10. Declare a variable **is_true** and assign a value to it

In [21]:
is_true = "is not"

11. Declare a variable **is_light_on** and assign a value to it

In [22]:
is_light_on = "la luz est√° encendida"

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [46]:
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married)
print(type(is_true)
print(type(is_light_on))

SyntaxError: unexpected EOF while parsing (<ipython-input-46-80e0e22a1862>, line 8)

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [24]:
age_float = float(age)
print(age_float)

31.0

2. Using the `len()` built-in function find the length of your first name

In [25]:
print(len(first_name))

7

3. Compare the length of your first name and your last name

In [26]:
diferencia = len(first_name) - len(last_name)
title1 = "Hay una diferencia de"
title2 = "caracteres."
print(title1, diferencia, title2)

Hay una diferencia de 0 caracteres.

4. Declare 5 as **num_one** and 4 as **num_two**

In [27]:
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [28]:
_total = num_one + num_two
_total

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [29]:
variable_diff = num_one - num_two
variable_diff

1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [30]:
variable_product = num_one * num_two
variable_product

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [51]:
variable_division = num_one % num_two
float(variable_division)

1.0

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [32]:
_remainder = num_two // num_one
_remainder

0

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [33]:
_exp = num_one ** num_two
_exp

625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [34]:
_floor_division = num_one // num_two
_floor_division

1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [35]:
import math
radius = 30
_area_of_circle = math.pi * radius ** 2
_area_of_circle

2827.4333882308138

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

In [36]:
circum_of_circle = 2 * math.pi * radius
circum_of_circle

188.49555921538757

14. Take radius as user input and calculate the area.

In [37]:
import math
radius = input("Value of radius")
_area_of_circle = math.pi * int(radius) ** 2
_area_of_circle

2827.4333882308138

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [5]:
first_name_inp = "My name is " + input("First Name")
last_name_inp = input("Last Name")
country_inp = ", im from " + input("Country")
age_inp = "and i have " + input("Age") + " years old."
full_data = first_name_inp, last_name_inp, country_inp, age_inp
print(first_name_inp, last_name_inp, country_inp, age_inp)

My name is Alberto Lara , im from Spain and i have 31 years old.

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

In [39]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)

# TITULO
1. ### Encabezado uno.
    - Frase 1.1

In [10]:
num1 = int(input("Introduce primero"))
num2 = int(input("introduce segundo"))

print(num1 + num2)

55

In [12]:
x = None

# Listas y colecciones

In [18]:
# Lista de Elementos


s = "Cadenas"
primer_elemento = s[0]
ultimo_elemento = s[-1]


print(primer_elemento)
print(ultimo_elemento)

C
s

In [24]:
bicycles = ['trek', 'canondale', 'redline', 'specialized']
bicycles[0]

print(bicycles)
print(bicycles[0])

['trek', 'canondale', 'redline', 'specialized']
trek

In [25]:
type(bicycles)

list

In [21]:
tamano_lista = len(bicycles)
tamano_lista

4

In [23]:
ultimo_elemento_por_posicion = tamano_lista -1
ultimo_elemento_por_posicion

3

In [41]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']
['subaru', 'toyota', 'audi', 'bmw']

In [42]:
s = "Hola soy Clara"
s

'Hola soy Clara'

In [43]:
s[3:]

'a soy Clara'

In [52]:
s[3:]

'a soy Clara'

In [56]:
print(s[-1])
s[3:-1]

a

'a soy Clar'